---
layout: default
title: Home
---

<!-- START THE FEATURETTES -->

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  {% include posts.html %}
{% endfor %}

<!-- /END THE FEATURETTES -->

<nav>
  <ul class="pager">
    {% if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path }}">Anterior</a></li>
    {% endif %}
    {% if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path }}">Próximo</a></li>
    {% endif %}
  </ul>
</nav>
