<hr class="featurette-divider">

<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="https://pbs.twimg.com/profile_images/586563008102408192/26J2Zn6G_400x400.jpg" alt="Bruno Cicanci" width="140" height="140">
    <h2>Bruno Cicanci</h2>
    <p><img src="../content/icon/twitter.png" alt="Twitter" width="15" height="15"><a class="btn btn-link" href="https://twitter.com/cicanci" role="button">@cicanci</a></p>
    <p><img src="../content/icon/github.png" alt="Twitter" width="15" height="15"><a class="btn btn-link" href="https://github.com/cicanci" role="button">/cicanci</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="https://pbs.twimg.com/profile_images/816246515828215808/_TXGsgZE_400x400.jpg" alt="Gregorio Benatti" width="140" height="140">
    <h2>Gregório Benatti</h2>
    <p><img src="../content/icon/twitter.png" alt="Twitter" width="15" height="15"><a class="btn btn-link" href="https://twitter.com/gregoriobenatti" role="button">@gregoriobenatti</a></p>
    <p><img src="../content/icon/github.png" alt="Twitter" width="15" height="15"><a class="btn btn-link" href="https://github.com/gregoriobenatti" role="button">/gregoriobenatti</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="https://pbs.twimg.com/profile_images/732757910175023104/OCe_0ELh_400x400.jpg" alt="Márcio Freitas" width="140" height="140">
    <h2>Márcio Freitas</h2>
    <p><img src="../content/icon/twitter.png" alt="Twitter" width="15" height="15"><a class="btn btn-link" href="https://twitter.com/marciovmf" role="button">@marciovmf</a></p>
    <p><img src="../content/icon/github.png" alt="Twitter" width="15" height="15"><a class="btn btn-link" href="https://github.com/marciovmf" role="button">/marciovmf</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
