---
layout: default
---

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">{{ page.episode }} <span class="text-muted">{{ page.subject }}</span></h2>
    <p><audio src="{{ page.mp3 }}" controls></audio></p>
    <p>{{ content }}</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="{{ page.title }}" src="{{ site.baseurl }}/{{ page.cover }}" data-holder-rendered="false">
  </div>
</div>

<hr class="featurette-divider">

{% include comments.html %}

<br/>
